<div class="nested-fields row-fluid" >
   <table class="table table-condensed table-bottom without-margin-bottom" >
     <tbody>
       <tr>
         <td class="span4">
           <%= f.text_field :name, :class => 'text_field' %>
         </td>
         <td class="span6 input-append">
           <%= f.text_area :description, :class => 'span12' %>
         </td>
         <td class="span2">
           <%= link_to_remove_association t('.remove'), f, :class => 'btn btn-danger btn-mini' %>
         </td>
       </tr>
     </tbody>
   </table>
 </div>