// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.image_principal{
  width: 80%;
  height: 80%;
}
body{
  height: 100%;
}
.principal{
   background-repeat: round;
}
.container-fluid{
  padding:0;
  background-image: url('fondo_principal.png'); 
}
.botonera{
  max-width: 65%;
  padding: 10px;
}
.lista{
  background-image:url('barra mapas-01.png');
}

