// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.image_principal{
  width: 80%;
  height: 80%;
}
body{
  background-image: url('bg.png');
  height: 100%;
}
.principal{
  background-image: url('fondo_principal.png');
  background-repeat: round;
  border-image: url('guarda.png') repeat;
}
.container-fluid{
  padding:0;
}
.botonera{
  max-width: 85%;
  padding: 10px;
}
