<%- model_class = Show -%>
<div class="container-fluid">
  <div class="row-fluid">
    <div class="span3 principal" style="padding: 0;">
      <div class="row-fluid" style="text-align:center;">
        <%= image_tag 'shows_izq.png' , size: '90%' %>
      </div>
      <div class="row-fluid">
        <table class="table table-striped span9">
            <tbody>
              <% @shows.each do |show| %>
                <tr>
                  <td class="span12 lista" style="margin:1px , padding: 1"><%= show.name %></td>
                </tr>
              <% end %>
            </tbody>
        </table>     
    </div>
  </div>
</div>